html, body {
  height: 100%;
}

body {
  background: #fafbfd;
}

.dash-panel {
  position: relative;
  height: 8.533333rem;
  background: #4d85cd;
  padding-top: 1.066667rem;
}

.dash-panel .dash-board {
  position: relative;
  left: 2.533333rem;
  width: 4.906667rem;
  height: 3.226667rem;
  margin-bottom: 1.92rem;
}

.dash-board .progress {
  position: absolute;
  width: 4.906667rem;
  height: 3.226667rem;
  transition: .5s;
  border-radius: 2.453333rem 2.453333rem 0 0;
  overflow: hidden;
}

.mask, .fill {
  position: absolute;
  width: 6.453333rem;
  height: 6.453333rem;
  left: -0.773333rem;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.mask {
  clip: rect(0px, 6.453333rem, 3.226667rem, 0px);
}

.mask .fill {
  left: 0;
  clip: rect(3.226667rem, 6.453333rem, 6.453333rem, 0px);
  transition: transform .5s;
  background-image:linear-gradient(-55deg, #3d95eb 0%, #ffffff 100%);
}

.dash-board img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dash-panel .point-value {
  position: absolute;
  top: 2.8rem;
  width: 100%;
  padding-top: 0.053333rem;
  height: 1.013333rem;
  font-size: 0.96rem;
  color: #FFFFFF;
  text-align: center;
}

.dash-panel .point-label {
  position: absolute;
  top: 4.213333rem;
  width: 100%;
  font-size: 0.373333rem;
  color: #FFFFFF;
  text-align: center;
  opacity: 0.5;
}

.dash-panel .tick {
  position: absolute;
  color: #ffffff;
  opacity: 0.6;
  font-size: 0.32rem;
}

.tick1 {
  top: 4.133333rem;
  left: 1.973333rem;
  transform: rotate(-105deg);
}

.tick2 {
  top: 1.653333rem;
  left: 2.426667rem;
  transform: rotate(-50deg);
}

.tick3 {
  top: 0.586667rem;
  left: 4.72rem;
}

.tick4 {
  top: 1.653333rem;
  left: 6.773333rem;
  transform: rotate(50deg);
}

.tick5 {
  top: 4.133333rem;
  left: 7.386667rem;
  transform: rotate(105deg);
}

.dash-panel .dash-divider {
  height: 1px;
  width: 8.933333rem;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.27);
}

.dash-panel .raise-button {
  text-align: center;
  color: #FFFFFF;
  font-size: 0.373333rem;
  width: 4.266667rem;
  height: 1.066667rem;
  margin: 0.693333rem auto;
  line-height: 1.066667rem;
  border: 1px solid #FFFFFF;
  border-radius: 1.066667rem;
}

